<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>form</title>
</head>
<link rel="stylesheet" href="../public/css/style.css">
<body>
  <form method="POST" action="form/new">
    <label for="author">Names</label>
    <input type="text" name="author" id="author">
    <label for="message">message</label>
    <input type="text" name="message" id="message">

    <button type="submit">Send</button>
  </form>
</body>
</html>