<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="chat-container">
    <div class="chat-header">
      <h1>Message Details</h1>
      <a href="/">Back to Board</a>
    </div>
    <div class="single-message-container">
        <div class="message odd">
            <div class="message-bubble">
                <div class="user"><%= message.user %></div>
                <div class="text"><%= message.text %></div>
                <div class="timestamp"><%= message.added.toLocaleString() %></div>
            </div>
        </div>
    </div>
  </div>
</body>
</html>
