<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Message Details</h1>
  <p><b>User:</b> <%= message.user %></p>
  <p><b>Message:</b> <%= message.text %></p>
  <p><b>Date:</b> <%= message.added.toDateString() %></p>
  <a href="/">Back to board</a>
</body>
</html>
